nav {
    background-color: #333;
    padding: 1em;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    color: white;
    text-decoration: none;
}
